main {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#welcome {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

button {
    width: 30%;
    min-width: fit-content;
    font-size: 1.3rem;
    color: #FFF;
    background-color: #014575;
    padding: 15px 25px;
    border-radius: 7px;
    line-height: 100%;
    border: #002844 solid;
    margin: 0 auto;
    border-width: 0 0 3px;
}

button:hover {
    border-width: 3px 0 0;
    cursor: pointer;
}