main {
    width: 45vw;
    margin: 100px 27.5vw;
}

p, h2, #total {
    text-align: center;
}

#total {
    font-size: 200%;
    background: rgb(63,94,251);
    background: linear-gradient(355deg, rgb(38, 65, 201) 19%, rgb(189, 52, 80) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.data {
    background: rgb(63,94,251);
    background: linear-gradient(355deg, rgb(38, 65, 201) 19%, rgb(189, 52, 80) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}