/* @font-face {
    font-family: Montserrat;
    src: url(Montserrat.ttf) format('truetype');
} */

@page {
    margin: 0 0;
}

* {
    font-family: 'Helvetica';
}

#title {
    position: relative;
    color: black;
    width: 100%;
    display: block;
    font-size: 200%;
    color: white;
    font-weight: bolder;
    text-align: center;
    height: 3cm;
    line-height: 1.5;
    box-sizing: content-box;
    column-span: all;
}

.row {
    display: table-row;
    /* max-width: 70%;
    min-width: 70%;
    width: 70%;
    height: 7%; */
}

#ticket-announcement {
    font-size: 1.4em;
    text-align: center;
    text-decoration: underline;
    width: 81%;
}

#person-info {
    text-align: center;
    font-size: 1.3em;
    width: 81%;
}



/* html,
body {
    width: 21cm;
    height: 29.7cm;
} */

/* body {
    background: filter();
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fdfdfd;
} */

main {
    margin: 1cm 2cm 2cm 2cm;
    position: relative;
    display: table;
}

#dependents {
    font-size: 115%;
    width: 81%;
}

#qr {
    display: inline-block;
    margin: 0 auto;
    height: 250px;
    object-fit: contain;
}

.center-contents {
    width: 81%;
    display: block;
    text-align: center;
    height: fit-content;
}

/* .center-contents img {
    object-fit: cover;
    width: auto;
    height: 100%;
} */

ul {
    list-style-type: circle;
}

footer {
    background-color: #4f9ac6;
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    color: white;
    text-align: center;
}

footer p {
    line-height: 1.4;
}