/* @font-face {
    font-family: Montserrat;
    src: url(Montserrat.ttf) format('truetype');
} */

@page {
    margin: 0 0;
}

* {
    font-family: 'Helvetica';
}

#title {
    position: relative;
    color: black;
    width: 100%;
    display: block;
    font-size: 200%;
    color: white;
    font-weight: bolder;
    text-align: center;
    height: fit-content;
    box-sizing: content-box;
    column-span: all;
}

#ticket-announcement {
    font-size: 1.4em;
    text-align: center;
    text-decoration: underline;
}

#person-info {
    text-align: center;
    font-size: 1.3em;
}



/* html,
body {
    width: 21cm;
    height: 29.7cm;
} */

/* body {
    background: filter();
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fdfdfd;
} */

main {
    margin: 0 2cm;
}

.spacer {
    height: 25px;
}

#qr {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-contents {
    text-align: center;
}

ul {
    list-style-type: circle;
}

footer {
    background-color: #4f9ac6;
    position: fixed; 
    bottom: 0cm; 
    left: 0cm; 
    right: 0cm;
    height: 2cm;
    color: white;
    text-align: center;
}

footer p {
    line-height: 8mm;
}